[Unit]
Description=LXD - agent - virtio-fs mount
Documentation=https://linuxcontainers.org/lxd
ConditionPathExists=/dev/virtio-ports/org.linuxcontainers.lxd
After=local-fs.target
Before=lxd-agent-9p.service
DefaultDependencies=no
ConditionPathIsMountPoint=!/run/lxd_config/drive

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /run/lxd_config/drive
ExecStartPre=/bin/chmod 0700 /run/lxd_config/
ExecStart=/bin/mount -t virtiofs config /run/lxd_config/drive

[Install]
WantedBy=multi-user.target
