[Unit]
Description=LXD - unix socket
Documentation=man:lxd(1)

[Socket]
Service=lxd.service
FileDescriptorName=unix
ListenStream=/run/lxd.socket
SocketMode=0660
SocketGroup=lxd

[Install]
WantedBy=sockets.target
