[Unit]
Description=Incus - User daemon
After=incus-user.socket incus.service
Requires=incus-user.socket

[Service]
ExecStart=/usr/lib/incus/incus-user
Restart=on-failure

[Install]
Also=incus-user.socket
