name: Lint packages
on:
  pull_request:
    branches:
      - main
    paths:
      - '**.spec'
      - '.github/workflows/rpmlint.yml'
  push:
    branches:
      - main
    paths:
      - '**.spec'
      - '.github/workflows/rpmlint.yml'
  merge_group:
  workflow_dispatch:

jobs:
  rpmlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run rpmlint
        uses: EyeCantCU/rpmlint-action@v0.1.1
        with:
          rpmfiles: .
